body {
}

.container-apresentacao {
    background-color: rgba(200, 200, 200, 0.6);
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem;
    border-radius: 10px
}
.icon {
    height: 15px;
    width: 15px;
    object-fit: contain;
}

